<br>
<br>
<p>
  ***************************************************************************
  <br>
  【署名】
  <br>
  〒xxx-xxxx&nbsp;&nbsp;&nbsp;東京都渋谷区めけーも
  <br>
  TEL: xxx-xxxx-xxxx
  <br>
  MAIL: <%= mail_to 'order@example.com' %>
  <br>
  <%= link_to 'https://example.com', root_url %>
  <br>
  ***************************************************************************
</p>