= f.hidden_field :customer_name
= f.hidden_field :customer_staff_name
= f.hidden_field :customer_division_name
= f.hidden_field :customer_email
= f.hidden_field :customer_tel
= f.hidden_field :customer_zip
= f.hidden_field :customer_addr1
= f.hidden_field :customer_addr2
= f.hidden_field :customer_addr3
= f.hidden_field :customer_addr4
= f.hidden_field :customer_addr5
= f.hidden_field :another_shipping
= f.hidden_field :shipping_name
= f.hidden_field :shipping_staff_name
= f.hidden_field :shipping_division_name
= f.hidden_field :shipping_tel
= f.hidden_field :shipping_zip
= f.hidden_field :shipping_addr1
= f.hidden_field :shipping_addr2
= f.hidden_field :shipping_addr3
= f.hidden_field :shipping_addr4
= f.hidden_field :shipping_addr5
= f.hidden_field :option
= f.hidden_field :manufacture_plan
= f.hidden_field :payment_type