= f.hidden_field :customer_is_company
= f.hidden_field :customer_name
= f.hidden_field :customer_staff_name
= f.hidden_field :customer_division_name
= f.hidden_field :customer_email
= f.hidden_field :customer_tel
= f.hidden_field :customer_zip
= f.hidden_field :customer_addr1
= f.hidden_field :customer_addr2
= f.hidden_field :customer_addr3
= f.hidden_field :customer_addr4
= f.hidden_field :customer_addr5
= f.hidden_field :another_shipping
= f.hidden_field :shipping_name
= f.hidden_field :shipping_staff_name
= f.hidden_field :shipping_division_name
= f.hidden_field :shipping_tel
= f.hidden_field :shipping_zip
= f.hidden_field :shipping_addr1
= f.hidden_field :shipping_addr2
= f.hidden_field :shipping_addr3
= f.hidden_field :shipping_addr4
= f.hidden_field :shipping_addr5
= f.nested_fields_for :products do |p|
  = p.hidden_field :design
  = p.hidden_field :design_cache
  = p.hidden_field :item
  = p.hidden_field :size
  = p.hidden_field :quantity
  = p.hidden_field :wrapping